
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}



/**
* MEDIAS QUERIES
**/
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px)
{
    .container {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: auto;
    transform: none !important;
    }
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
 
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}


.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
}

.container section {
    min-width: 100vw;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container section .content {
    max-width: 100%;
    padding: 40px;
}



.container section:nth-child(2) { 

    background-color: #d16ba5;
    min-width       : 500vw;
}
.container section:nth-child(3) {

    background-color: #aa8fd8;
    min-width       : 200vw;
}
.container section:nth-child(4) {

    background-color: #79b3f4;
    min-width: 200vw;
}
.container section:nth-child(5) {

    background-color: #41dfff;
    min-width: 200vw;
}
.container section h2 {
    font-size: 3em;
}

#lottie-burger {
       position: absolute;
        width: 5vw;
        bottom: 0;
        z-index: 10000;
}
#menuBox{
    background-image: linear-gradient(to bottom, 
    #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, 
    #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff,
     #46eefa, #5ffbf1);
    height: 100vh;
    position: fixed;
    justify-content:center;
    display: flex;
    align-items: center;
    z-index: 600;
    width: 100vw;
    opacity: 0;
    transition: opacity 0.5s ease-in-out ;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin-left: -10vw;
    height: 50vh;


}
.links a {
    transition: 1s;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-weight: bold;
}
.letter{
    position: absolute;
    font-size: 20em;
    display: inline-block;
    opacity: 0.2;
    background-color: black;

}
.letter-1{
    content: "";
    top: 50vh;
    left: 150%;  
    width: 100vw;
    height: 100vw;
    border-radius: 100vw;


}
.letter-2{
    content: "";
    top: 45vh;
    width: 10vw;
    height: 10vw;
    border-radius: 10vw;
    left: 135%;  
}
.letter-3{
    content: "";
    top: 40vh;
    left: 140%;  
    width: 8vw;
    height: 8vw;
    border-radius: 8vw;
}
.letter-4{
    content: "";
    top: 25vh;
    left: 145%;  
    width: 3vw;
    height: 3vw;
    border-radius: 3vw;
}

#part1{
    display: flex;

 
}

.left{
    width: 33%; 
    height: 100%;


}
.middle{
    width: 33%;
     height: 100%;
    }

.right{width: 33%; 
    height: 100%;
}


